@inherits LayoutComponentBase

<PageTitle>@Localization.AppName</PageTitle>

<div class="page">
    <header>
        <h1>@Localization.AppName</h1>
    </header>

    <main>
        @Body
    </main>

    <footer>
    </footer>
</div>
